.nota{
  height: 100vh;
  background-color: #ccc;
  padding: 2rem;
}
.nota > h1{
  margin-bottom: 2rem;
}

.mi-icon{
  height: 5rem;
  width: 5rem;
  object-fit: contain;
}

.microfono{
  position: absolute;
  top: 0;
  right: 0;
}

.botones{
  min-width: 500px;
}